Repository ryu-qqq/CrawlingHub: changes, and which Atlantis projects are due for each by the changed paths.
All: crawlinghub-ecr-prod, crawlinghub-ecs-cluster-prod, crawlinghub-elasticache-prod, crawlinghub-ecs-web-api-prod, crawlinghub-ecs-scheduler-prod

atlantis.yaml:

version: 3

automerge: false
delete_source_branch_on_merge: false
# Disable parallel plan to prevent plugin cache conflicts
parallel_plan: false
parallel_apply: false
# Trigger apply for infrastructure resources

projects:
  # ============================================================================
  # Container Registry
  # ============================================================================

  # ECR repositories for web-api and scheduler
  - name: crawlinghub-ecr-prod
    dir: terraform/ecr
    workspace: default
    autoplan:
      when_modified: ["*.tf", "*.tfvars", "../*.tf"]
      enabled: true

  # ============================================================================
  # Core Infrastructure
  # ============================================================================

  # ECS Cluster (dedicated for crawlinghub)
  - name: crawlinghub-ecs-cluster-prod
    dir: terraform/ecs-cluster
    workspace: default
    autoplan:
      when_modified: ["*.tf", "*.tfvars", "../*.tf"]
      enabled: true

  # ElastiCache (Redis)
  - name: crawlinghub-elasticache-prod
    dir: terraform/elasticache
    workspace: default
    autoplan:
      when_modified: ["*.tf", "*.tfvars", "../*.tf"]
      enabled: true

  # ============================================================================
  # Application Infrastructure
  # ============================================================================

  # ECS Service for web-api (ALB + Auto Scaling)
  - name: crawlinghub-ecs-web-api-prod
    dir: terraform/ecs-web-api
    workspace: default
    autoplan:
      when_modified: ["*.tf", "*.tfvars", "../*.tf"]
      enabled: true

  # ECS Service for scheduler (No ALB, desired=1)
  - name: crawlinghub-ecs-scheduler-prod
    dir: terraform/ecs-scheduler
    workspace: default
    autoplan:
      when_modified: ["*.tf", "*.tfvars", "../*.tf"]
      enabled: true

  # ============================================================================
  # Event-Driven Infrastructure
  # ============================================================================

  # EventBridge for scheduled crawling tasks
  # TODO: ECS 서비스 배포 후 활성화
  # - name: crawlinghub-eventbridge-prod
  #   dir: terraform/eventbridge
  #   workspace: default
  #   autoplan:
  #     when_modified: ["*.tf", "*.tfvars", "../*.tf"]
  #     enabled: true

fix: 3개 ECS 모듈에 image_tag 변수 추가
  terraform/ecs-crawl-worker/main.tf
  terraform/ecs-crawl-worker/provider.tf
  terraform/ecs-scheduler/main.tf
  terraform/ecs-scheduler/provider.tf
  terraform/ecs-web-api/main.tf
  terraform/ecs-web-api/provider.tf
Due: crawlinghub-ecs-web-api-prod, crawlinghub-ecs-scheduler-prod

refactor: ALB 제거 및 GatewayAuthenticationFilter AuthHub 스타일로 변경
  adapter-in/rest-api/src/main/java/com/ryuqq/crawlinghub/adapter/in/rest/auth/filter/GatewayAuthenticationFilter.java
  adapter-in/rest-api/src/main/java/com/ryuqq/crawlinghub/adapter/in/rest/auth/paths/SecurityPaths.java
  adapter-in/rest-api/src/test/java/com/ryuqq/crawlinghub/adapter/in/rest/auth/filter/GatewayAuthenticationFilterTest.java
  terraform/ecs-web-api/main.tf
  terraform/ecs-web-api/provider.tf
Due: crawlinghub-ecs-web-api-prod

fix: outputs.tf에서 ALB 관련 output 제거
  terraform/ecs-web-api/outputs.tf
Due: crawlinghub-ecs-web-api-prod

fix: web-api SQS 의존성 추가 및 애플리케이션 이름 수정
  bootstrap/bootstrap-web-api/build.gradle
  bootstrap/bootstrap-web-api/src/main/resources/application.yml
Due: none

fix: OTEL collector self-scrape job 제거
  otel-config-scheduler.yaml
  otel-config-web-api.yaml
  otel-config-worker.yaml
Due: none

fix: SQS 관련 컴포넌트 조건부 활성화로 변경
  application/src/main/java/com/ryuqq/crawlinghub/application/task/listener/CrawlTaskRegisteredEventListener.java
  application/src/main/java/com/ryuqq/crawlinghub/application/task/manager/CrawlTaskMessageManager.java
  bootstrap/bootstrap-web-api/build.gradle
  bootstrap/bootstrap-web-api/src/main/resources/application.yml
Due: none

fix: @ConditionalOnBean을 @ConditionalOnProperty로 변경
  application/src/main/java/com/ryuqq/crawlinghub/application/task/listener/CrawlTaskRegisteredEventListener.java
  application/src/main/java/com/ryuqq/crawlinghub/application/task/manager/CrawlTaskMessageManager.java
  bootstrap/bootstrap-scheduler/src/main/resources/application.yml
Due: none

fix: SQS 컴포넌트 조건부 로딩을 @ConditionalOnProperty로 변경
  application/src/main/java/com/ryuqq/crawlinghub/application/task/listener/CrawlTaskRegisteredEventListener.java
  application/src/main/java/com/ryuqq/crawlinghub/application/task/manager/CrawlTaskMessageManager.java
  bootstrap/bootstrap-scheduler/src/main/resources/application.yml
Due: none

fix: scheduler web-application-type을 servlet으로 변경
  bootstrap/bootstrap-scheduler/src/main/resources/application.yml
Due: none

fix: worker web-application-type을 servlet으로 변경
  bootstrap/bootstrap-crawl-worker/src/main/resources/application.yml
Due: none

fix: web-application-type 설정 제거 (fileflow 스타일)
  bootstrap/bootstrap-crawl-worker/src/main/resources/application.yml
  bootstrap/bootstrap-scheduler/src/main/resources/application.yml
Due: none

feat: 누락된 API 엔드포인트 추가
  adapter-in/rest-api/src/docs/asciidoc/index.adoc
  adapter-in/rest-api/src/main/java/com/ryuqq/crawlinghub/adapter/in/rest/schedule/controller/CrawlSchedulerCommandController.java
  adapter-in/rest-api/src/main/java/com/ryuqq/crawlinghub/adapter/in/rest/schedule/dto/command/UpdateSchedulerStatusApiRequest.java
  adapter-in/rest-api/src/main/java/com/ryuqq/crawlinghub/adapter/in/rest/schedule/mapper/CrawlSchedulerCommandApiMapper.java
  adapter-in/rest-api/src/main/java/com/ryuqq/crawlinghub/adapter/in/rest/task/controller/CrawlTaskCommandController.java
  adapter-in/rest-api/src/main/java/com/ryuqq/crawlinghub/adapter/in/rest/task/mapper/CrawlTaskCommandApiMapper.java
  adapter-in/rest-api/src/test/java/com/ryuqq/crawlinghub/adapter/in/rest/schedule/controller/CrawlSchedulerCommandControllerDocsTest.java
  adapter-in/rest-api/src/test/java/com/ryuqq/crawlinghub/adapter/in/rest/task/controller/CrawlTaskCommandControllerDocsTest.java
  application/src/main/java/com/ryuqq/crawlinghub/application/task/dto/command/RetryCrawlTaskCommand.java
  application/src/main/java/com/ryuqq/crawlinghub/application/task/facade/CrawlTaskFacade.java
  application/src/main/java/com/ryuqq/crawlinghub/application/task/port/in/command/RetryCrawlTaskUseCase.java
  application/src/main/java/com/ryuqq/crawlinghub/application/task/service/command/RetryCrawlTaskService.java
  application/src/test/java/com/ryuqq/crawlinghub/application/task/service/command/RetryCrawlTaskServiceTest.java
  domain/src/main/java/com/ryuqq/crawlinghub/domain/task/exception/CrawlTaskRetryException.java
Due: none
