Repository ryu-qqq/CrawlingHub: changes, and which Atlantis projects are due for each by the changed paths.
All: crawlinghub-ecr-prod, crawlinghub-ecs-cluster-prod, crawlinghub-elasticache-prod, crawlinghub-sqs-prod, crawlinghub-ecs-web-api-prod, crawlinghub-ecs-scheduler-prod, crawlinghub-ecs-crawl-worker-prod, crawlinghub-ecr-stage, crawlinghub-ecs-cluster-stage, crawlinghub-sqs-stage, crawlinghub-ecs-web-api-stage, crawlinghub-ecs-scheduler-stage, crawlinghub-ecs-crawl-worker-stage

atlantis.yaml:

version: 3

automerge: false
delete_source_branch_on_merge: false
# Disable parallel plan to prevent plugin cache conflicts
parallel_plan: false
parallel_apply: false

projects:
  # ============================================================================
  # Production Environment
  # ============================================================================

  # ECR repositories for web-api, scheduler, crawl-worker
  - name: crawlinghub-ecr-prod
    dir: terraform/environments/prod/ecr
    workspace: default
    autoplan:
      when_modified: ["*.tf", "*.tfvars", "../../*.tf"]
      enabled: true

  # ECS Cluster (dedicated for crawlinghub)
  - name: crawlinghub-ecs-cluster-prod
    dir: terraform/environments/prod/ecs-cluster
    workspace: default
    autoplan:
      when_modified: ["*.tf", "*.tfvars", "../../*.tf"]
      enabled: true

  # ElastiCache (Redis)
  - name: crawlinghub-elasticache-prod
    dir: terraform/environments/prod/elasticache
    workspace: default
    autoplan:
      when_modified: ["*.tf", "*.tfvars", "../../*.tf"]
      enabled: true

  # SQS queues for async messaging
  - name: crawlinghub-sqs-prod
    dir: terraform/environments/prod/sqs
    workspace: default
    autoplan:
      when_modified: ["*.tf", "*.tfvars", "../../*.tf"]
      enabled: true

  # ECS Service for web-api (ALB + Auto Scaling)
  - name: crawlinghub-ecs-web-api-prod
    dir: terraform/environments/prod/ecs-web-api
    workspace: default
    autoplan:
      when_modified: ["*.tf", "*.tfvars", "../../*.tf"]
      enabled: true

  # ECS Service for scheduler (No ALB, desired=1)
  - name: crawlinghub-ecs-scheduler-prod
    dir: terraform/environments/prod/ecs-scheduler
    workspace: default
    autoplan:
      when_modified: ["*.tf", "*.tfvars", "../../*.tf"]
      enabled: true

  # ECS Service for crawl-worker (SQS consumer, no ALB)
  - name: crawlinghub-ecs-crawl-worker-prod
    dir: terraform/environments/prod/ecs-crawl-worker
    workspace: default
    autoplan:
      when_modified: ["*.tf", "*.tfvars", "../../*.tf"]
      enabled: true

  # ============================================================================
  # Stage Environment
  # ============================================================================

  # ECR repositories (stage)
  - name: crawlinghub-ecr-stage
    dir: terraform/environments/stage/ecr
    workspace: default
    autoplan:
      when_modified: ["*.tf", "*.tfvars", "../../*.tf"]
      enabled: true

  # ECS Cluster (stage)
  - name: crawlinghub-ecs-cluster-stage
    dir: terraform/environments/stage/ecs-cluster
    workspace: default
    autoplan:
      when_modified: ["*.tf", "*.tfvars", "../../*.tf"]
      enabled: true

  # SQS queues (stage)
  - name: crawlinghub-sqs-stage
    dir: terraform/environments/stage/sqs
    workspace: default
    autoplan:
      when_modified: ["*.tf", "*.tfvars", "../../*.tf"]
      enabled: true

  # ECS Service for web-api (stage)
  - name: crawlinghub-ecs-web-api-stage
    dir: terraform/environments/stage/ecs-web-api
    workspace: default
    autoplan:
      when_modified: ["*.tf", "*.tfvars", "../../*.tf"]
      enabled: true

  # ECS Service for scheduler (stage)
  - name: crawlinghub-ecs-scheduler-stage
    dir: terraform/environments/stage/ecs-scheduler
    workspace: default
    autoplan:
      when_modified: ["*.tf", "*.tfvars", "../../*.tf"]
      enabled: true

  # ECS Service for crawl-worker (stage)
  - name: crawlinghub-ecs-crawl-worker-stage
    dir: terraform/environments/stage/ecs-crawl-worker
    workspace: default
    autoplan:
      when_modified: ["*.tf", "*.tfvars", "../../*.tf"]
      enabled: true

fix: 후속 태스크 중복 생성 시 스킵 처리 + 스케줄러 주기 조정
  application/src/main/java/com/ryuqq/crawlinghub/application/execution/internal/FollowUpTaskCreator.java
  application/src/main/java/com/ryuqq/crawlinghub/application/task/validator/CrawlTaskPersistenceValidator.java
  bootstrap/bootstrap-scheduler/src/main/resources/application.yml
Due: none

chore: n8n 워크플로 JSON을 gitignore에 추가 및 히스토리에서 제거
  .gitignore
Due: none

fix: prod Redis AUTH 에러 수정 - 빈 password로 인한 인증 시도 제거
  adapter-out/persistence-redis/src/main/resources/redis-prod.yml
Due: none

hotfix: prod Redis AUTH 에러 수정 - 빈 password로 인한 인증 시도 제거
  adapter-out/persistence-redis/src/main/resources/redis-prod.yml
Due: none

hotfix: redis-prod.yml ssl 블록 제거 + prod terraform 정합성 수정
  adapter-out/persistence-redis/src/main/resources/redis-prod.yml
  terraform/environments/prod/ecs-crawl-worker/main.tf
  terraform/environments/prod/ecs-scheduler/main.tf
  terraform/environments/prod/ecs-web-api/main.tf
  terraform/environments/prod/sqs/main.tf
Due: crawlinghub-sqs-prod, crawlinghub-ecs-web-api-prod, crawlinghub-ecs-scheduler-prod, crawlinghub-ecs-crawl-worker-prod

fix: prod crawl-worker SQS 환경변수 누락 수정 (EventBridge, DLQ)
  terraform/environments/prod/ecs-crawl-worker/main.tf
  terraform/environments/prod/ecs-crawl-worker/provider.tf
Due: crawlinghub-ecs-crawl-worker-prod

fix: prod ecs-scheduler EventBridge 설정 누락 수정 + SQS schedule group IaC 관리
  terraform/environments/prod/ecs-scheduler/main.tf
  terraform/environments/prod/ecs-scheduler/provider.tf
  terraform/environments/prod/sqs/main.tf
Due: crawlinghub-sqs-prod, crawlinghub-ecs-scheduler-prod

fix: 스케줄러 주기 단축 + stage 스케줄러 비활성화 + 세션 발급 에러 로깅 개선
  adapter-out/client/http-client/src/main/java/com/ryuqq/crawlinghub/adapter/out/http/session/WebClientSessionTokenAdapter.java
  bootstrap/bootstrap-scheduler/src/main/resources/application.yml
Due: none
