Repository ryu-qqq/CrawlingHub: changes, and which Atlantis projects are due for each by the changed paths.
All: crawlinghub-ecr-prod, crawlinghub-ecs-cluster-prod, crawlinghub-elasticache-prod, crawlinghub-ecs-web-api-prod, crawlinghub-ecs-scheduler-prod

atlantis.yaml:

version: 3

automerge: false
delete_source_branch_on_merge: false
# Disable parallel plan to prevent plugin cache conflicts
parallel_plan: false
parallel_apply: false
# Trigger apply for infrastructure resources

projects:
  # ============================================================================
  # Container Registry
  # ============================================================================

  # ECR repositories for web-api and scheduler
  - name: crawlinghub-ecr-prod
    dir: terraform/ecr
    workspace: default
    autoplan:
      when_modified: ["*.tf", "*.tfvars", "../*.tf"]
      enabled: true

  # ============================================================================
  # Core Infrastructure
  # ============================================================================

  # ECS Cluster (dedicated for crawlinghub)
  - name: crawlinghub-ecs-cluster-prod
    dir: terraform/ecs-cluster
    workspace: default
    autoplan:
      when_modified: ["*.tf", "*.tfvars", "../*.tf"]
      enabled: true

  # ElastiCache (Redis)
  - name: crawlinghub-elasticache-prod
    dir: terraform/elasticache
    workspace: default
    autoplan:
      when_modified: ["*.tf", "*.tfvars", "../*.tf"]
      enabled: true

  # ============================================================================
  # Application Infrastructure
  # ============================================================================

  # ECS Service for web-api (ALB + Auto Scaling)
  - name: crawlinghub-ecs-web-api-prod
    dir: terraform/ecs-web-api
    workspace: default
    autoplan:
      when_modified: ["*.tf", "*.tfvars", "../*.tf"]
      enabled: true

  # ECS Service for scheduler (No ALB, desired=1)
  - name: crawlinghub-ecs-scheduler-prod
    dir: terraform/ecs-scheduler
    workspace: default
    autoplan:
      when_modified: ["*.tf", "*.tfvars", "../*.tf"]
      enabled: true

  # ============================================================================
  # Event-Driven Infrastructure
  # ============================================================================

  # EventBridge for scheduled crawling tasks
  # TODO: ECS 서비스 배포 후 활성화
  # - name: crawlinghub-eventbridge-prod
  #   dir: terraform/eventbridge
  #   workspace: default
  #   autoplan:
  #     when_modified: ["*.tf", "*.tfvars", "../*.tf"]
  #     enabled: true

fix: Add scanBasePackages, EntityScan, ConfigurationPropertiesScan to scheduler and crawl-worker
  adapter-out/persistence-mysql/src/main/java/com/ryuqq/crawlinghub/adapter/out/persistence/config/JpaConfig.java
  bootstrap/bootstrap-crawl-worker/src/main/java/com/ryuqq/crawlinghub/CrawlWorkerApplication.java
  bootstrap/bootstrap-crawl-worker/src/main/java/com/ryuqq/crawlinghub/config/ClockConfig.java
  bootstrap/bootstrap-crawl-worker/src/main/java/com/ryuqq/crawlinghub/config/SystemClockHolder.java
  bootstrap/bootstrap-scheduler/src/main/java/com/ryuqq/crawlinghub/SchedulerApplication.java
Due: none

fix: Move REST Docs static files to META-INF/resources for nested JAR serving
  adapter-in/rest-api/src/main/resources/META-INF/resources/docs/index.html
Due: none

fix: Redisson 설정 표준화 및 useragent-pool 설정 추가
  adapter-out/persistence-redis/src/main/resources/redis-local.yml
  adapter-out/persistence-redis/src/main/resources/redis.yml
Due: none

fix: 누락된 패키지 스캔 추가 (redis, http-client)
  bootstrap/bootstrap-crawl-worker/src/main/java/com/ryuqq/crawlinghub/CrawlWorkerApplication.java
  bootstrap/bootstrap-web-api/src/main/java/com/ryuqq/crawlinghub/bootstrap/CrawlingHubApplication.java
Due: none

fix: Add REDIS_HOST to ECS task definitions and fix config imports
  bootstrap/bootstrap-crawl-worker/src/main/resources/application.yml
  bootstrap/bootstrap-web-api/src/main/resources/application.yml
  terraform/ecs-crawl-worker/main.tf
  terraform/ecs-crawl-worker/provider.tf
  terraform/ecs-scheduler/provider.tf
  terraform/ecs-web-api/main.tf
Due: crawlinghub-ecs-web-api-prod, crawlinghub-ecs-scheduler-prod

ci: Add ecs-crawl-worker to terraform-apply workflow
  .github/workflows/terraform-apply.yml
  terraform/ecs-crawl-worker/.terraform.lock.hcl
Due: none

fix: Add KMS key to terraform S3 backend for all modules
  terraform/ecr/provider.tf
  terraform/ecs-cluster/provider.tf
  terraform/ecs-web-api/provider.tf
  terraform/elasticache/provider.tf
  terraform/eventbridge/provider.tf
Due: crawlinghub-ecr-prod, crawlinghub-ecs-cluster-prod, crawlinghub-elasticache-prod, crawlinghub-ecs-web-api-prod

fix: ECR 리포지토리 proactive import 로직 개선
  .github/workflows/terraform-apply.yml
Due: none

fix: ECR crawl-worker KMS 암호화 설정 일치
  terraform/ecr/main.tf
Due: crawlinghub-ecr-prod

ci: Add comprehensive resource import for ECS modules
  .github/workflows/terraform-apply.yml
Due: none

fix: Remove [0] index from Security Group import addresses
  .github/workflows/terraform-apply.yml
Due: none

fix: crawl-worker HttpClientPort bean 누락 수정 및 Java 21 코드 개선
  application/src/main/java/com/ryuqq/crawlinghub/application/crawl/parser/DetailResponseParser.java
  bootstrap/bootstrap-crawl-worker/build.gradle
  domain/src/main/java/com/ryuqq/crawlinghub/domain/product/vo/ProductDetailInfo.java
Due: none

fix: Add missing EventBridge adapter for crawl-worker and increase scheduler memory
  bootstrap/bootstrap-crawl-worker/build.gradle
  terraform/ecs-scheduler/provider.tf
Due: crawlinghub-ecs-scheduler-prod

fix: Add SQS queue URL environment variables to crawl-worker ECS task
  terraform/ecs-crawl-worker/main.tf
Due: none
