Repository ryu-qqq/CrawlingHub: changes, and which Atlantis projects are due for each by the changed paths.
All: crawlinghub-ecr-prod, crawlinghub-ecs-cluster-prod, crawlinghub-elasticache-prod, crawlinghub-sqs-prod, crawlinghub-ecs-web-api-prod, crawlinghub-ecs-scheduler-prod, crawlinghub-ecs-crawl-worker-prod, crawlinghub-ecr-stage, crawlinghub-ecs-cluster-stage, crawlinghub-sqs-stage, crawlinghub-ecs-web-api-stage, crawlinghub-ecs-scheduler-stage, crawlinghub-ecs-crawl-worker-stage

atlantis.yaml:

version: 3

automerge: false
delete_source_branch_on_merge: false
# Disable parallel plan to prevent plugin cache conflicts
parallel_plan: false
parallel_apply: false

projects:
  # ============================================================================
  # Production Environment
  # ============================================================================

  # ECR repositories for web-api, scheduler, crawl-worker
  - name: crawlinghub-ecr-prod
    dir: terraform/environments/prod/ecr
    workspace: default
    autoplan:
      when_modified: ["*.tf", "*.tfvars", "../../*.tf"]
      enabled: true

  # ECS Cluster (dedicated for crawlinghub)
  - name: crawlinghub-ecs-cluster-prod
    dir: terraform/environments/prod/ecs-cluster
    workspace: default
    autoplan:
      when_modified: ["*.tf", "*.tfvars", "../../*.tf"]
      enabled: true

  # ElastiCache (Redis)
  - name: crawlinghub-elasticache-prod
    dir: terraform/environments/prod/elasticache
    workspace: default
    autoplan:
      when_modified: ["*.tf", "*.tfvars", "../../*.tf"]
      enabled: true

  # SQS queues for async messaging
  - name: crawlinghub-sqs-prod
    dir: terraform/environments/prod/sqs
    workspace: default
    autoplan:
      when_modified: ["*.tf", "*.tfvars", "../../*.tf"]
      enabled: true

  # ECS Service for web-api (ALB + Auto Scaling)
  - name: crawlinghub-ecs-web-api-prod
    dir: terraform/environments/prod/ecs-web-api
    workspace: default
    autoplan:
      when_modified: ["*.tf", "*.tfvars", "../../*.tf"]
      enabled: true

  # ECS Service for scheduler (No ALB, desired=1)
  - name: crawlinghub-ecs-scheduler-prod
    dir: terraform/environments/prod/ecs-scheduler
    workspace: default
    autoplan:
      when_modified: ["*.tf", "*.tfvars", "../../*.tf"]
      enabled: true

  # ECS Service for crawl-worker (SQS consumer, no ALB)
  - name: crawlinghub-ecs-crawl-worker-prod
    dir: terraform/environments/prod/ecs-crawl-worker
    workspace: default
    autoplan:
      when_modified: ["*.tf", "*.tfvars", "../../*.tf"]
      enabled: true

  # ============================================================================
  # Stage Environment
  # ============================================================================

  # ECR repositories (stage)
  - name: crawlinghub-ecr-stage
    dir: terraform/environments/stage/ecr
    workspace: default
    autoplan:
      when_modified: ["*.tf", "*.tfvars", "../../*.tf"]
      enabled: true

  # ECS Cluster (stage)
  - name: crawlinghub-ecs-cluster-stage
    dir: terraform/environments/stage/ecs-cluster
    workspace: default
    autoplan:
      when_modified: ["*.tf", "*.tfvars", "../../*.tf"]
      enabled: true

  # SQS queues (stage)
  - name: crawlinghub-sqs-stage
    dir: terraform/environments/stage/sqs
    workspace: default
    autoplan:
      when_modified: ["*.tf", "*.tfvars", "../../*.tf"]
      enabled: true

  # ECS Service for web-api (stage)
  - name: crawlinghub-ecs-web-api-stage
    dir: terraform/environments/stage/ecs-web-api
    workspace: default
    autoplan:
      when_modified: ["*.tf", "*.tfvars", "../../*.tf"]
      enabled: true

  # ECS Service for scheduler (stage)
  - name: crawlinghub-ecs-scheduler-stage
    dir: terraform/environments/stage/ecs-scheduler
    workspace: default
    autoplan:
      when_modified: ["*.tf", "*.tfvars", "../../*.tf"]
      enabled: true

  # ECS Service for crawl-worker (stage)
  - name: crawlinghub-ecs-crawl-worker-stage
    dir: terraform/environments/stage/ecs-crawl-worker
    workspace: default
    autoplan:
      when_modified: ["*.tf", "*.tfvars", "../../*.tf"]
      enabled: true

fix(flyway): persistence 모듈에서 flyway 설정 완전 제거
  adapter-out/persistence-mysql/src/main/resources/persistence-local.yml
  adapter-out/persistence-mysql/src/main/resources/persistence-prod.yml
  adapter-out/persistence-mysql/src/main/resources/persistence-stage.yml
  adapter-out/persistence-mysql/src/main/resources/persistence.yml
Due: none

fix(flyway): FlywayConfig에서 강제 validate() 호출 제거
  adapter-out/persistence-mysql/src/main/java/com/ryuqq/crawlinghub/adapter/out/persistence/config/FlywayConfig.java
Due: none

fix(redis): stage Redis 비밀번호/SSL 설정 제거
  adapter-out/persistence-redis/src/main/resources/redis-stage.yml
Due: none

fix(config): scheduler sync-outbox recover-timeout + worker eventbridge import 추가
  bootstrap/bootstrap-crawl-worker/src/main/resources/application.yml
  bootstrap/bootstrap-scheduler/src/main/resources/application.yml
Due: none

fix(eventbridge): EventBridgeScheduleMapper에 ConditionalOnProperty 추가
  adapter-out/client/eventbridge-client/src/main/java/com/ryuqq/crawlinghub/adapter/out/eventbridge/mapper/EventBridgeScheduleMapper.java
  bootstrap/bootstrap-crawl-worker/src/main/resources/application.yml
Due: none

fix(stage): EventBridge 의존 빈 조건부 로딩 + scheduler recover-failed 설정 + docker-compose stage 재구성
  application/src/main/java/com/ryuqq/crawlinghub/application/schedule/internal/CrawlSchedulerOutBoxProcessor.java
  application/src/main/java/com/ryuqq/crawlinghub/application/schedule/manager/CrawlSchedulerEventBridgeSyncManager.java
  application/src/main/java/com/ryuqq/crawlinghub/application/schedule/service/command/ProcessPendingSchedulerOutboxService.java
  bootstrap/bootstrap-scheduler/src/main/resources/application.yml
  local-dev/docker-compose.aws.yml
Due: none

fix(terraform): crawl-worker에 누락된 SQS 환경변수 추가
  terraform/environments/stage/ecs-crawl-worker/main.tf
  terraform/environments/stage/ecs-crawl-worker/provider.tf
Due: crawlinghub-ecs-crawl-worker-stage

fix(terraform): scheduler에 EventBridge 환경변수 및 IAM 권한 추가
  terraform/environments/stage/ecs-scheduler/main.tf
Due: crawlinghub-ecs-scheduler-stage

fix(terraform): stage 전체 서비스 health_check_start_period 120→300 통일
  terraform/environments/stage/ecs-crawl-worker/main.tf
  terraform/environments/stage/ecs-scheduler/main.tf
  terraform/environments/stage/ecs-web-api/main.tf
Due: crawlinghub-ecs-web-api-stage, crawlinghub-ecs-scheduler-stage, crawlinghub-ecs-crawl-worker-stage

fix: 선제적 갱신 시 IDLE→IDLE 전환 예외 방지
  application/src/main/java/com/ryuqq/crawlinghub/application/useragent/manager/SessionDbStatusManager.java
  application/src/test/java/com/ryuqq/crawlinghub/application/useragent/manager/SessionDbStatusManagerTest.java
  domain/src/main/java/com/ryuqq/crawlinghub/domain/useragent/aggregate/UserAgent.java
  domain/src/test/java/com/ryuqq/crawlinghub/domain/useragent/aggregate/UserAgentBorrowReturnTest.java
Due: none

feat: Grafana 대시보드 stage/prod 환경 전환 지원
  docs/grafana/dashboard-api.json
  docs/grafana/dashboard-scheduler.json
  docs/grafana/dashboard-worker.json
  docs/grafana/dashboard.json
  otel-config-scheduler.yaml
  otel-config-web-api.yaml
  otel-config-worker.yaml
Due: none

docs: ECS ADOT 모니터링 구축 가이드 문서 추가
  docs/monitoring/ECS_ADOT_MONITORING_SETUP.md
Due: none

docs: FileFlow 수정 가이드 + 대시보드 환경 필터 스크립트 추가
  docs/monitoring/ECS_ADOT_MONITORING_SETUP.md
Due: none

fix(terraform): ADOT 사이드카 KMS 복호화 권한 추가
  terraform/environments/stage/ecs-crawl-worker/main.tf
  terraform/environments/stage/ecs-scheduler/main.tf
  terraform/environments/stage/ecs-web-api/main.tf
Due: crawlinghub-ecs-web-api-stage, crawlinghub-ecs-scheduler-stage, crawlinghub-ecs-crawl-worker-stage

fix(grafana): Worker 대시보드 $job 변수를 custom 타입으로 변경
  docs/grafana/dashboard-worker.json
Due: none

refactor: Dockerfile에서 OTEL Java Agent 제거
  bootstrap/bootstrap-crawl-worker/Dockerfile
  bootstrap/bootstrap-scheduler/Dockerfile
  bootstrap/bootstrap-web-api/Dockerfile
Due: none

fix(grafana): Worker 대시보드 job 필터를 regex match로 변경
  docs/grafana/dashboard-worker.json
Due: none

feat(marketplace-client): MarketPlace InboundProduct API 연동 구현 및 환경별 설정 추가
  adapter-out/client/marketplace-client/src/main/java/com/ryuqq/crawlinghub/adapter/out/marketplace/client/MarketPlaceClient.java
  adapter-out/client/marketplace-client/src/main/java/com/ryuqq/crawlinghub/adapter/out/marketplace/config/MarketPlaceClientConfig.java
  adapter-out/client/marketplace-client/src/main/java/com/ryuqq/crawlinghub/adapter/out/marketplace/config/MarketPlaceClientProperties.java
  adapter-out/client/marketplace-client/src/main/java/com/ryuqq/crawlinghub/adapter/out/marketplace/dto/request/CreateProductPayload.java
  adapter-out/client/marketplace-client/src/main/java/com/ryuqq/crawlinghub/adapter/out/marketplace/dto/request/CreateProductRequest.java
  adapter-out/client/marketplace-client/src/main/java/com/ryuqq/crawlinghub/adapter/out/marketplace/dto/request/ProductImageListPayload.java
  adapter-out/client/marketplace-client/src/main/java/com/ryuqq/crawlinghub/adapter/out/marketplace/dto/request/ProductImagePayload.java
  adapter-out/client/marketplace-client/src/main/java/com/ryuqq/crawlinghub/adapter/out/marketplace/dto/request/ProductOptionListPayload.java
  adapter-out/client/marketplace-client/src/main/java/com/ryuqq/crawlinghub/adapter/out/marketplace/dto/request/ProductOptionPayload.java
  adapter-out/client/marketplace-client/src/main/java/com/ryuqq/crawlinghub/adapter/out/marketplace/dto/request/ProductShippingPayload.java
  adapter-out/client/marketplace-client/src/main/java/com/ryuqq/crawlinghub/adapter/out/marketplace/dto/request/ReceiveInboundProductRequest.java
  adapter-out/client/marketplace-client/src/main/java/com/ryuqq/crawlinghub/adapter/out/marketplace/dto/request/UpdateDescriptionRequest.java
  adapter-out/client/marketplace-client/src/main/java/com/ryuqq/crawlinghub/adapter/out/marketplace/dto/request/UpdateImagesRequest.java
  adapter-out/client/marketplace-client/src/main/java/com/ryuqq/crawlinghub/adapter/out/marketplace/dto/request/UpdatePriceRequest.java
  adapter-out/client/marketplace-client/src/main/java/com/ryuqq/crawlinghub/adapter/out/marketplace/dto/request/UpdateProductsRequest.java
  adapter-out/client/marketplace-client/src/main/java/com/ryuqq/crawlinghub/adapter/out/marketplace/dto/response/CreateProductResponse.java
  adapter-out/client/marketplace-client/src/main/java/com/ryuqq/crawlinghub/adapter/out/marketplace/dto/response/InboundProductConversionResponse.java
  adapter-out/client/marketplace-client/src/main/java/com/ryuqq/crawlinghub/adapter/out/marketplace/mapper/CreateProductPayloadMapper.java
  adapter-out/client/marketplace-client/src/main/java/com/ryuqq/crawlinghub/adapter/out/marketplace/mapper/CreateProductRequestMapper.java
  adapter-out/client/marketplace-client/src/main/java/com/ryuqq/crawlinghub/adapter/out/marketplace/mapper/InboundProductRequestMapper.java
  adapter-out/client/marketplace-client/src/main/java/com/ryuqq/crawlinghub/adapter/out/marketplace/strategy/CreateProductSyncStrategy.java
  adapter-out/client/marketplace-client/src/main/java/com/ryuqq/crawlinghub/adapter/out/marketplace/strategy/UpdateDescriptionSyncStrategy.java
  adapter-out/client/marketplace-client/src/main/java/com/ryuqq/crawlinghub/adapter/out/marketplace/strategy/UpdateImageSyncStrategy.java
  adapter-out/client/marketplace-client/src/main/java/com/ryuqq/crawlinghub/adapter/out/marketplace/strategy/UpdateOptionStockSyncStrategy.java
  adapter-out/client/marketplace-client/src/main/java/com/ryuqq/crawlinghub/adapter/out/marketplace/strategy/UpdatePriceSyncStrategy.java
  adapter-out/client/marketplace-client/src/main/java/com/ryuqq/crawlinghub/adapter/out/marketplace/strategy/UpdateProductInfoSyncStrategy.java
  adapter-out/client/marketplace-client/src/main/resources/marketplace-local.yml
  adapter-out/client/marketplace-client/src/main/resources/marketplace-prod.yml
  adapter-out/client/marketplace-client/src/main/resources/marketplace-stage.yml
  adapter-out/client/marketplace-client/src/main/resources/marketplace.yml
  adapter-out/client/marketplace-client/src/test/java/com/ryuqq/crawlinghub/adapter/out/marketplace/mapper/InboundProductRequestMapperTest.java
  adapter-out/client/marketplace-client/src/test/java/com/ryuqq/crawlinghub/adapter/out/marketplace/strategy/ProductSyncStrategiesTest.java
  adapter-out/client/marketplace-client/src/test/java/com/ryuqq/crawlinghub/adapter/out/marketplace/strategy/ProductSyncStrategyProviderTest.java
  bootstrap/bootstrap-crawl-worker/src/main/resources/application.yml
  bootstrap/bootstrap-scheduler/src/main/resources/application.yml
  bootstrap/bootstrap-web-api/src/main/resources/application.yml
Due: none

fix(scheduler): OutBox 프로세서 StaleObjectStateException 및 EventBridge 예외 처리 수정
  adapter-out/client/eventbridge-client/src/main/java/com/ryuqq/crawlinghub/adapter/out/eventbridge/adapter/EventBridgeClientAdapter.java
  adapter-out/client/eventbridge-client/src/test/java/com/ryuqq/crawlinghub/adapter/out/eventbridge/adapter/EventBridgeClientAdapterTest.java
  application/src/main/java/com/ryuqq/crawlinghub/application/schedule/internal/CrawlSchedulerOutBoxProcessor.java
  domain/src/main/java/com/ryuqq/crawlinghub/domain/schedule/aggregate/CrawlSchedulerOutBox.java
Due: none

fix: CrawlExecution 응답 요약 저장 + Grafana 환경 필터 + Terraform SQS/EventBridge 연동
  application/src/main/java/com/ryuqq/crawlinghub/application/execution/internal/CrawlTaskExecutionCoordinator.java
  docs/grafana/dashboard-api.json
  docs/grafana/dashboard-scheduler.json
  docs/grafana/dashboard-worker.json
  docs/grafana/dashboard.json
  terraform/ecs-scheduler/main.tf
  terraform/environments/stage/ecs-scheduler/main.tf
  terraform/environments/stage/sqs/main.tf
  terraform/environments/stage/sqs/outputs.tf
  terraform/sqs/main.tf
  terraform/sqs/outputs.tf
Due: crawlinghub-sqs-stage, crawlinghub-ecs-scheduler-stage
