Repository ryu-qqq/CrawlingHub: changes, and which Atlantis projects are due for each by the changed paths.
All: crawlinghub-ecr-prod, crawlinghub-ecs-cluster-prod, crawlinghub-elasticache-prod, crawlinghub-ecs-web-api-prod, crawlinghub-ecs-scheduler-prod, crawlinghub-eventbridge-prod

atlantis.yaml:

version: 3

automerge: false
delete_source_branch_on_merge: false
parallel_plan: true
parallel_apply: false

projects:
  # ============================================================================
  # Container Registry
  # ============================================================================

  # ECR repositories for web-api and scheduler
  - name: crawlinghub-ecr-prod
    dir: terraform/ecr
    workspace: default
    autoplan:
      when_modified: ["*.tf", "*.tfvars", "../*.tf"]
      enabled: true
    apply_requirements: ["approved", "mergeable"]

  # ============================================================================
  # Core Infrastructure
  # ============================================================================

  # ECS Cluster (dedicated for crawlinghub)
  - name: crawlinghub-ecs-cluster-prod
    dir: terraform/ecs-cluster
    workspace: default
    autoplan:
      when_modified: ["*.tf", "*.tfvars", "../*.tf"]
      enabled: true
    apply_requirements: ["approved", "mergeable"]

  # ElastiCache (Redis)
  - name: crawlinghub-elasticache-prod
    dir: terraform/elasticache
    workspace: default
    autoplan:
      when_modified: ["*.tf", "*.tfvars", "../*.tf"]
      enabled: true
    apply_requirements: ["approved", "mergeable"]

  # ============================================================================
  # Application Infrastructure
  # ============================================================================

  # ECS Service for web-api (ALB + Auto Scaling)
  - name: crawlinghub-ecs-web-api-prod
    dir: terraform/ecs-web-api
    workspace: default
    autoplan:
      when_modified: ["*.tf", "*.tfvars", "../*.tf"]
      enabled: true
    apply_requirements: ["approved", "mergeable"]

  # ECS Service for scheduler (No ALB, desired=1)
  - name: crawlinghub-ecs-scheduler-prod
    dir: terraform/ecs-scheduler
    workspace: default
    autoplan:
      when_modified: ["*.tf", "*.tfvars", "../*.tf"]
      enabled: true
    apply_requirements: ["approved", "mergeable"]

  # ============================================================================
  # Event-Driven Infrastructure
  # ============================================================================

  # EventBridge for scheduled crawling tasks
  - name: crawlinghub-eventbridge-prod
    dir: terraform/eventbridge
    workspace: default
    autoplan:
      when_modified: ["*.tf", "*.tfvars", "../*.tf"]
      enabled: true
    apply_requirements: ["approved", "mergeable"]

fix: Disable parallel plan to prevent text file busy error
  atlantis.yaml
Due: none

fix: Remove custom workflow (not allowed by server config)
  atlantis.yaml
Due: none

fix: Regenerate terraform lock files to fix checksum mismatch
  terraform/ecr/.terraform.lock.hcl
Due: none

chore: Trigger terraform apply for infrastructure
  atlantis.yaml
Due: none

feat: Migrate ECS services to Infrastructure repository modules
  terraform/ecs-scheduler/main.tf
  terraform/ecs-web-api/main.tf
  terraform/ecs-web-api/outputs.tf
  terraform/modules/adot-sidecar/README.md
  terraform/modules/adot-sidecar/main.tf
  terraform/modules/adot-sidecar/variables.tf
Due: crawlinghub-ecs-web-api-prod, crawlinghub-ecs-scheduler-prod

테라폼 포맷 수정
  bootstrap/bootstrap-web-api/src/main/java/com/ryuqq/crawlinghub/bootstrap/config/SystemClockHolder.java
  terraform/eventbridge/main.tf
Due: crawlinghub-eventbridge-prod

fix: Update eventbridge module to use individual tag variables
  terraform/eventbridge/main.tf
Due: crawlinghub-eventbridge-prod

fix: Add enable_ecs_alb_ingress flag for ECS security group
  terraform/ecs-web-api/main.tf
Due: crawlinghub-ecs-web-api-prod

feat: Add SQS module for crawling task queue
  docs/prd/answer.txt
  docs/prd/tasks/CRAWL-001.md
  docs/prd/tasks/CRAWL-002.md
  docs/prd/tasks/CRAWL-003.md
  docs/prd/tasks/CRAWL-004.md
  docs/prd/tasks/CRAWL-005.md
  terraform/sqs/.terraform.lock.hcl
  terraform/sqs/main.tf
  terraform/sqs/outputs.tf
  terraform/sqs/provider.tf
Due: none

test: CrawlTaskId VO 테스트 추가 (Red)
  application/src/test/java/com/ryuqq/crawlinghub/application/architecture/assembler/AssemblerArchTest.java
  application/src/test/java/com/ryuqq/crawlinghub/application/architecture/dto/DtoRecordArchTest.java
  application/src/test/java/com/ryuqq/crawlinghub/application/architecture/port/assembler/AssemblerArchTest.java
  application/src/test/java/com/ryuqq/crawlinghub/application/architecture/port/dto/DtoRecordArchTest.java
  application/src/test/java/com/ryuqq/crawlinghub/application/architecture/port/out/PersistencePortArchTest.java
  application/src/test/java/com/ryuqq/crawlinghub/application/architecture/port/port/out/LockQueryPortArchTest.java
  application/src/test/java/com/ryuqq/crawlinghub/application/architecture/port/port/out/PersistencePortArchTest.java
  application/src/test/java/com/ryuqq/crawlinghub/application/architecture/port/port/out/QueryPortArchTest.java
  domain/src/test/java/com/ryuqq/crawlinghub/domain/crawl/task/identifier/CrawlTaskIdTest.java
Due: none

feat: CrawlTaskId VO 구현 (Green)
  domain/src/main/java/com/ryuqq/crawlinghub/domain/crawl/task/identifier/CrawlTaskId.java
Due: none

test: CrawlTaskIdFixture 정리 (Tidy)
  domain/src/test/java/com/ryuqq/crawlinghub/domain/crawl/task/identifier/CrawlTaskIdTest.java
  domain/src/testFixtures/java/com/ryuqq/cralwinghub/domain/fixture/crawl/task/CrawlTaskIdFixture.java
Due: none

test: CrawlTaskStatus Enum 테스트 추가 (Red)
  domain/src/test/java/com/ryuqq/crawlinghub/domain/crawl/task/vo/CrawlTaskStatusTest.java
Due: none

feat: CrawlTaskStatus Enum 구현 (Green)
  domain/src/main/java/com/ryuqq/crawlinghub/domain/crawl/task/vo/CrawlTaskStatus.java
Due: none
