Repository ryu-qqq/CrawlingHub: changes, and which Atlantis projects are due for each by the changed paths.
All: crawlinghub-ecr-prod, crawlinghub-ecs-cluster-prod, crawlinghub-elasticache-prod, crawlinghub-ecs-web-api-prod, crawlinghub-ecs-scheduler-prod

atlantis.yaml:

version: 3

automerge: false
delete_source_branch_on_merge: false
# Disable parallel plan to prevent plugin cache conflicts
parallel_plan: false
parallel_apply: false
# Trigger apply for infrastructure resources

projects:
  # ============================================================================
  # Container Registry
  # ============================================================================

  # ECR repositories for web-api and scheduler
  - name: crawlinghub-ecr-prod
    dir: terraform/ecr
    workspace: default
    autoplan:
      when_modified: ["*.tf", "*.tfvars", "../*.tf"]
      enabled: true

  # ============================================================================
  # Core Infrastructure
  # ============================================================================

  # ECS Cluster (dedicated for crawlinghub)
  - name: crawlinghub-ecs-cluster-prod
    dir: terraform/ecs-cluster
    workspace: default
    autoplan:
      when_modified: ["*.tf", "*.tfvars", "../*.tf"]
      enabled: true

  # ElastiCache (Redis)
  - name: crawlinghub-elasticache-prod
    dir: terraform/elasticache
    workspace: default
    autoplan:
      when_modified: ["*.tf", "*.tfvars", "../*.tf"]
      enabled: true

  # ============================================================================
  # Application Infrastructure
  # ============================================================================

  # ECS Service for web-api (ALB + Auto Scaling)
  - name: crawlinghub-ecs-web-api-prod
    dir: terraform/ecs-web-api
    workspace: default
    autoplan:
      when_modified: ["*.tf", "*.tfvars", "../*.tf"]
      enabled: true

  # ECS Service for scheduler (No ALB, desired=1)
  - name: crawlinghub-ecs-scheduler-prod
    dir: terraform/ecs-scheduler
    workspace: default
    autoplan:
      when_modified: ["*.tf", "*.tfvars", "../*.tf"]
      enabled: true

  # ============================================================================
  # Event-Driven Infrastructure
  # ============================================================================

  # EventBridge for scheduled crawling tasks
  # TODO: ECS 서비스 배포 후 활성화
  # - name: crawlinghub-eventbridge-prod
  #   dir: terraform/eventbridge
  #   workspace: default
  #   autoplan:
  #     when_modified: ["*.tf", "*.tfvars", "../*.tf"]
  #     enabled: true

fix: Use UserAgentString instead of encrypted token in recovery logic
  application/src/main/java/com/ryuqq/crawlinghub/application/useragent/manager/UserAgentPoolManager.java
Due: none

fix: OpenTelemetry gRPC 프로토콜 명시 및 Health Check 타임아웃 증가
  bootstrap/bootstrap-crawl-worker/Dockerfile
  bootstrap/bootstrap-scheduler/Dockerfile
  bootstrap/bootstrap-web-api/Dockerfile
  otel-config-scheduler.yaml
  otel-config-web-api.yaml
  otel-config-worker.yaml
  terraform/ecs-web-api/main.tf
Due: crawlinghub-ecs-web-api-prod

perf: Scheduler/Worker를 Management 전용 포트로 최적화
  bootstrap/bootstrap-crawl-worker/src/main/resources/application.yml
  bootstrap/bootstrap-scheduler/src/main/resources/application.yml
Due: none

fix: AI 리뷰 이슈 모두 수정 (Gemini + CodeRabbit)
  .taskmaster/docs/otel-env-verification.md
  bootstrap/bootstrap-crawl-worker/src/main/resources/application.yml
  bootstrap/bootstrap-scheduler/src/main/resources/application.yml
  otel-config-scheduler.yaml
  otel-config-web-api.yaml
  otel-config-worker.yaml
Due: none

fix: ECS health check start period 증가 (180s -> 240s)
  terraform/ecs-crawl-worker/main.tf
  terraform/ecs-scheduler/main.tf
Due: crawlinghub-ecs-scheduler-prod

fix: HTTP Client 어댑터 Component Scan 추가
  bootstrap/bootstrap-web-api/src/main/java/com/ryuqq/crawlinghub/bootstrap/CrawlingHubApplication.java
Due: none

fix: SQS 어댑터 Component Scan 추가
  bootstrap/bootstrap-web-api/src/main/java/com/ryuqq/crawlinghub/bootstrap/CrawlingHubApplication.java
Due: none

fix: OTEL Exporter 연결 안정성 개선
  bootstrap/bootstrap-crawl-worker/Dockerfile
  bootstrap/bootstrap-scheduler/Dockerfile
  bootstrap/bootstrap-web-api/Dockerfile
Due: none

fix: Scheduler Management 서버 활성화
  bootstrap/bootstrap-scheduler/src/main/resources/application.yml
Due: none

fix: Scheduler/Worker Management 서버 활성화
  bootstrap/bootstrap-crawl-worker/src/main/resources/application.yml
  bootstrap/bootstrap-scheduler/src/main/resources/application.yml
Due: none

fix: OTEL 메트릭 중복 제거 및 Health Check 개선
  bootstrap/bootstrap-crawl-worker/Dockerfile
  bootstrap/bootstrap-scheduler/Dockerfile
  bootstrap/bootstrap-web-api/Dockerfile
Due: none

fix: Terraform Health Check start_period 300초로 증가
  terraform/ecs-crawl-worker/main.tf
  terraform/ecs-scheduler/main.tf
  terraform/ecs-web-api/main.tf
Due: crawlinghub-ecs-web-api-prod, crawlinghub-ecs-scheduler-prod
