Repository ryu-qqq/CrawlingHub: changes, and which Atlantis projects are due for each by the changed paths.
All: crawlinghub-ecr-prod, crawlinghub-ecs-cluster-prod, crawlinghub-elasticache-prod, crawlinghub-ecs-web-api-prod, crawlinghub-ecs-scheduler-prod

crawlinghub-ecr-prod:
  dir: terraform/ecr
  workspace: default

crawlinghub-ecs-cluster-prod:
  dir: terraform/ecs-cluster
  workspace: default

crawlinghub-elasticache-prod:
  dir: terraform/elasticache
  workspace: default

crawlinghub-ecs-web-api-prod:
  dir: terraform/ecs-web-api
  workspace: default

crawlinghub-ecs-scheduler-prod:
  dir: terraform/ecs-scheduler
  workspace: default

fix: Terraform Health Check start_period 300초로 증가
  terraform/ecs-crawl-worker/main.tf
  terraform/ecs-scheduler/main.tf
  terraform/ecs-web-api/main.tf
Due: crawlinghub-ecs-web-api-prod, crawlinghub-ecs-scheduler-prod

fix: Web API에 SQS Publisher 의존성 및 설정 추가
  bootstrap/bootstrap-web-api/build.gradle
  bootstrap/bootstrap-web-api/src/main/java/com/ryuqq/crawlinghub/bootstrap/CrawlingHubApplication.java
  bootstrap/bootstrap-web-api/src/main/resources/application.yml
Due: none

fix: Terraform Health Check start_period 적용 (Atlantis trigger)
  terraform/ecs-crawl-worker/main.tf
  terraform/ecs-crawl-worker/tfplan
  terraform/ecs-scheduler/main.tf
  terraform/ecs-web-api/main.tf
Due: crawlinghub-ecs-web-api-prod, crawlinghub-ecs-scheduler-prod

fix: Alpine Linux에 wget 설치 (Health Check 필수)
  bootstrap/bootstrap-crawl-worker/Dockerfile
  bootstrap/bootstrap-scheduler/Dockerfile
  bootstrap/bootstrap-web-api/Dockerfile
Due: none

chore: .env 파일들을 .gitignore에 추가
  .gitignore
Due: none

fix: 정적 코드 분석 에러 수정 (Checkstyle, SpotBugs)
  adapter-in/rest-api/src/test/java/com/ryuqq/crawlinghub/adapter/in/rest/architecture/RestApiLayerArchTest.java
  adapter-in/rest-api/src/test/java/com/ryuqq/crawlinghub/adapter/in/rest/architecture/common/ApiResponseArchTest.java
  adapter-in/rest-api/src/test/java/com/ryuqq/crawlinghub/adapter/in/rest/architecture/controller/ControllerArchTest.java
  adapter-in/rest-api/src/test/java/com/ryuqq/crawlinghub/adapter/in/rest/architecture/dto/CommandDtoArchTest.java
  adapter-in/rest-api/src/test/java/com/ryuqq/crawlinghub/adapter/in/rest/architecture/dto/QueryDtoArchTest.java
  adapter-in/rest-api/src/test/java/com/ryuqq/crawlinghub/adapter/in/rest/architecture/dto/ResponseDtoArchTest.java
  adapter-in/rest-api/src/test/java/com/ryuqq/crawlinghub/adapter/in/rest/architecture/error/ErrorHandlingArchTest.java
  adapter-in/rest-api/src/test/java/com/ryuqq/crawlinghub/adapter/in/rest/architecture/mapper/MapperArchTest.java
  adapter-in/rest-api/src/test/java/com/ryuqq/crawlinghub/adapter/in/rest/architecture/openapi/OpenApiArchTest.java
  adapter-out/persistence-mysql/src/test/java/com/ryuqq/crawlinghub/adapter/out/persistence/architecture/DataAccessPatternArchTest.java
  adapter-out/persistence-mysql/src/test/java/com/ryuqq/crawlinghub/adapter/out/persistence/architecture/FlywayMigrationArchTest.java
  adapter-out/persistence-mysql/src/test/java/com/ryuqq/crawlinghub/adapter/out/persistence/architecture/HikariCPConfigArchTest.java
  adapter-out/persistence-mysql/src/test/java/com/ryuqq/crawlinghub/adapter/out/persistence/architecture/PersistenceLayerArchTest.java
  adapter-out/persistence-redis/src/test/java/com/ryuqq/crawlinghub/adapter/out/redis/architecture/adapter/cache/CacheAdapterArchTest.java
  adapter-out/persistence-redis/src/test/java/com/ryuqq/crawlinghub/adapter/out/redis/architecture/adapter/lock/DistributedLockAdapterArchTest.java
  adapter-out/persistence-redis/src/test/java/com/ryuqq/crawlinghub/adapter/out/redis/architecture/config/RedisConfigArchTest.java
  application/src/test/java/com/ryuqq/crawlinghub/application/architecture/assembler/AssemblerArchTest.java
  application/src/test/java/com/ryuqq/crawlinghub/application/architecture/port/in/UseCaseArchTest.java
  config/checkstyle/checkstyle.xml
  config/spotbugs/spotbugs-exclude.xml
  domain/src/test/java/com/ryuqq/crawlinghub/domain/architecture/DomainPurityArchTest.java
  domain/src/test/java/com/ryuqq/crawlinghub/domain/architecture/PackageStructureArchTest.java
  domain/src/test/java/com/ryuqq/crawlinghub/domain/architecture/aggregate/AggregateArchTest.java
  domain/src/test/java/com/ryuqq/crawlinghub/domain/architecture/query/CriteriaArchTest.java
  domain/src/test/java/com/ryuqq/crawlinghub/domain/architecture/vo/VOArchTest.java
Due: none

fix: Persistence Mapper 테스트 케이스 수정
  adapter-out/persistence-mysql/src/test/java/com/ryuqq/crawlinghub/adapter/out/persistence/execution/mapper/CrawlExecutionJpaEntityMapperTest.java
  adapter-out/persistence-mysql/src/test/java/com/ryuqq/crawlinghub/adapter/out/persistence/product/mapper/CrawledProductJpaEntityMapperTest.java
  adapter-out/persistence-mysql/src/test/java/com/ryuqq/crawlinghub/adapter/out/persistence/product/mapper/CrawledRawJpaEntityMapperTest.java
  adapter-out/persistence-mysql/src/test/java/com/ryuqq/crawlinghub/adapter/out/persistence/schedule/mapper/CrawlSchedulerHistoryJpaEntityMapperTest.java
  adapter-out/persistence-mysql/src/test/java/com/ryuqq/crawlinghub/adapter/out/persistence/schedule/mapper/CrawlSchedulerJpaEntityMapperTest.java
  adapter-out/persistence-mysql/src/test/java/com/ryuqq/crawlinghub/adapter/out/persistence/useragent/mapper/UserAgentJpaEntityMapperTest.java
Due: none

test: Persistence Adapter 단위 테스트 추가 및 JaCoCo 커버리지 설정 개선
  adapter-out/persistence-mysql/build.gradle
  adapter-out/persistence-mysql/src/test/java/com/ryuqq/crawlinghub/adapter/out/persistence/entity/SoftDeletableEntityTest.java
  adapter-out/persistence-mysql/src/test/java/com/ryuqq/crawlinghub/adapter/out/persistence/execution/adapter/CrawlExecutionCommandAdapterTest.java
  adapter-out/persistence-mysql/src/test/java/com/ryuqq/crawlinghub/adapter/out/persistence/execution/adapter/CrawlExecutionQueryAdapterTest.java
  adapter-out/persistence-mysql/src/test/java/com/ryuqq/crawlinghub/adapter/out/persistence/schedule/adapter/CrawlSchedulerCommandAdapterTest.java
  adapter-out/persistence-mysql/src/test/java/com/ryuqq/crawlinghub/adapter/out/persistence/schedule/adapter/CrawlSchedulerOutBoxCommandAdapterTest.java
  adapter-out/persistence-mysql/src/test/java/com/ryuqq/crawlinghub/adapter/out/persistence/schedule/adapter/CrawlSchedulerOutBoxQueryAdapterTest.java
  adapter-out/persistence-mysql/src/test/java/com/ryuqq/crawlinghub/adapter/out/persistence/schedule/adapter/CrawlSchedulerQueryAdapterTest.java
  adapter-out/persistence-mysql/src/test/java/com/ryuqq/crawlinghub/adapter/out/persistence/seller/adapter/SellerCommandAdapterTest.java
  adapter-out/persistence-mysql/src/test/java/com/ryuqq/crawlinghub/adapter/out/persistence/seller/adapter/SellerQueryAdapterTest.java
  adapter-out/persistence-mysql/src/test/java/com/ryuqq/crawlinghub/adapter/out/persistence/task/adapter/CrawlTaskCommandAdapterTest.java
  adapter-out/persistence-mysql/src/test/java/com/ryuqq/crawlinghub/adapter/out/persistence/task/adapter/CrawlTaskOutboxCommandAdapterTest.java
  adapter-out/persistence-mysql/src/test/java/com/ryuqq/crawlinghub/adapter/out/persistence/task/adapter/CrawlTaskOutboxQueryAdapterTest.java
  adapter-out/persistence-mysql/src/test/java/com/ryuqq/crawlinghub/adapter/out/persistence/task/adapter/CrawlTaskQueryAdapterTest.java
  adapter-out/persistence-mysql/src/test/java/com/ryuqq/crawlinghub/adapter/out/persistence/useragent/adapter/UserAgentCommandAdapterTest.java
  adapter-out/persistence-mysql/src/test/java/com/ryuqq/crawlinghub/adapter/out/persistence/useragent/adapter/UserAgentQueryAdapterTest.java
Due: none

fix: Terraform workflow를 CrawlingHub 프로젝트 설정으로 복원
  .github/workflows/terraform-apply.yml
Due: none

fix: Terraform ECR State 복구 로직 추가 및 import 주소 수정
  .github/workflows/terraform-apply.yml
Due: none

fix: ECR crawl-worker encryption_type을 KMS로 명시 설정
  terraform/ecr/main.tf
Due: crawlinghub-ecr-prod

fix: OTEL config S3 버킷 경로를 prod-connectly로 수정
  terraform/ecs-crawl-worker/main.tf
  terraform/ecs-scheduler/main.tf
  terraform/ecs-web-api/main.tf
Due: crawlinghub-ecs-web-api-prod, crawlinghub-ecs-scheduler-prod

fix: terraform-apply.yml에 workflow_call 트리거 추가
  .github/workflows/terraform-apply.yml
Due: none

feat: 병렬 빌드/배포 파이프라인으로 개선 (FileFlow 패턴)
  .github/workflows/build-and-deploy.yml
Due: none

Path conditions:
  crawlinghub-ecr-prod: any of: terraform/ecr/*.tf, terraform/ecr/*.tfvars, terraform/*.tf
  crawlinghub-ecs-cluster-prod: any of: terraform/ecs-cluster/*.tf, terraform/ecs-cluster/*.tfvars, terraform/*.tf
  crawlinghub-elasticache-prod: any of: terraform/elasticache/*.tf, terraform/elasticache/*.tfvars, terraform/*.tf
  crawlinghub-ecs-web-api-prod: any of: terraform/ecs-web-api/*.tf, terraform/ecs-web-api/*.tfvars, terraform/*.tf
  crawlinghub-ecs-scheduler-prod: any of: terraform/ecs-scheduler/*.tf, terraform/ecs-scheduler/*.tfvars, terraform/*.tf
