Repository ryu-qqq/CrawlingHub: changes, and which Atlantis projects are due for each by the changed paths.
All: crawlinghub-ecr-prod, crawlinghub-ecs-cluster-prod, crawlinghub-elasticache-prod, crawlinghub-ecs-web-api-prod, crawlinghub-ecs-scheduler-prod, crawlinghub-ecs-crawl-worker-prod, crawlinghub-eventbridge-prod, crawlinghub-sqs-prod

crawlinghub-ecr-prod:
  dir: terraform/ecr
  workspace: default

crawlinghub-ecs-cluster-prod:
  dir: terraform/ecs-cluster
  workspace: default

crawlinghub-elasticache-prod:
  dir: terraform/elasticache
  workspace: default

crawlinghub-ecs-web-api-prod:
  dir: terraform/ecs-web-api
  workspace: default

crawlinghub-ecs-scheduler-prod:
  dir: terraform/ecs-scheduler
  workspace: default

crawlinghub-ecs-crawl-worker-prod:
  dir: terraform/ecs-crawl-worker
  workspace: default

crawlinghub-eventbridge-prod:
  dir: terraform/eventbridge
  workspace: default

crawlinghub-sqs-prod:
  dir: terraform/sqs
  workspace: default

fix: enable DLQ listeners with proper environment variables
  adapter-in/sqs-listener/src/main/resources/sqs-listener.yml
  bootstrap/bootstrap-crawl-worker/src/main/resources/application.yml
  terraform/ecs-crawl-worker/main.tf
  terraform/sqs/main.tf
Due: crawlinghub-ecs-crawl-worker-prod, crawlinghub-sqs-prod

refactor: AI 리뷰 피드백 반영 - 멱등성 키 Deterministic 롤백 및 타임존 지원
  adapter-in/rest-api/src/main/java/com/ryuqq/crawlinghub/adapter/in/rest/common/util/DateTimeFormatUtils.java
  docs/migration/API_RESPONSE_MIGRATION_GUIDE.md
  domain/src/main/java/com/ryuqq/crawlinghub/domain/product/aggregate/CrawledProductSyncOutbox.java
  domain/src/main/java/com/ryuqq/crawlinghub/domain/product/aggregate/ProductImageOutbox.java
  domain/src/main/java/com/ryuqq/crawlinghub/domain/task/aggregate/CrawlTask.java
  domain/src/main/java/com/ryuqq/crawlinghub/domain/task/aggregate/CrawlTaskOutbox.java
  domain/src/test/java/com/ryuqq/crawlinghub/domain/product/aggregate/ProductImageOutboxTest.java
  domain/src/test/java/com/ryuqq/crawlinghub/domain/task/aggregate/CrawlTaskTest.java
Due: none

fix: add SQS queue URLs and IAM policy to ECS scheduler
  terraform/ecs-scheduler/main.tf
  terraform/ecs-scheduler/provider.tf
Due: crawlinghub-ecs-scheduler-prod

refactor(terraform): consolidate SSM parameters with for_each and document deployment order
  terraform/ecs-scheduler/provider.tf
Due: crawlinghub-ecs-scheduler-prod

fix: add SQS policy attachment with KMS permissions to crawl-worker
  terraform/ecs-crawl-worker/main.tf
  terraform/ecs-crawl-worker/provider.tf
Due: crawlinghub-ecs-crawl-worker-prod

refactor: remove redundant inline SQS policy and use SSM parameters
  terraform/ecs-crawl-worker/main.tf
Due: crawlinghub-ecs-crawl-worker-prod

refactor: unify CacheStatus and UserAgentStatus into single Domain enum
  adapter-in/rest-api/src/test/java/com/ryuqq/crawlinghub/adapter/in/rest/useragent/controller/UserAgentQueryControllerDocsTest.java
  adapter-in/rest-api/src/test/java/com/ryuqq/crawlinghub/adapter/in/rest/useragent/mapper/UserAgentApiMapperTest.java
  adapter-out/persistence-mysql/src/main/java/com/ryuqq/crawlinghub/adapter/out/persistence/useragent/adapter/UserAgentQueryAdapter.java
  adapter-out/persistence-mysql/src/test/java/com/ryuqq/crawlinghub/adapter/out/persistence/useragent/adapter/UserAgentCommandAdapterTest.java
  adapter-out/persistence-mysql/src/test/java/com/ryuqq/crawlinghub/adapter/out/persistence/useragent/adapter/UserAgentQueryAdapterTest.java
  adapter-out/persistence-mysql/src/test/java/com/ryuqq/crawlinghub/adapter/out/persistence/useragent/mapper/UserAgentJpaEntityMapperTest.java
  adapter-out/persistence-redis/src/main/java/com/ryuqq/crawlinghub/adapter/out/redis/adapter/UserAgentPoolCacheAdapter.java
  adapter-out/persistence-redis/src/main/resources/lua/useragent_consume_token.lua
  adapter-out/persistence-redis/src/test/java/com/ryuqq/crawlinghub/adapter/out/redis/adapter/UserAgentPoolCacheAdapterTest.java
  application/src/main/java/com/ryuqq/crawlinghub/application/useragent/dto/cache/CacheStatus.java
  application/src/main/java/com/ryuqq/crawlinghub/application/useragent/dto/cache/CachedUserAgent.java
  application/src/test/java/com/ryuqq/crawlinghub/application/execution/service/CrawlTaskExecutionServiceTest.java
  application/src/test/java/com/ryuqq/crawlinghub/application/useragent/manager/query/UserAgentReadManagerTest.java
  application/src/test/java/com/ryuqq/crawlinghub/application/useragent/scheduler/SessionIssuanceSchedulerTest.java
  application/src/test/java/com/ryuqq/crawlinghub/application/useragent/service/command/ConsumeUserAgentServiceTest.java
  application/src/test/java/com/ryuqq/crawlinghub/application/useragent/service/command/UpdateUserAgentStatusServiceTest.java
  application/src/test/java/com/ryuqq/crawlinghub/application/useragent/service/query/GetUserAgentsServiceTest.java
  domain/src/main/java/com/ryuqq/crawlinghub/domain/useragent/aggregate/UserAgent.java
  domain/src/main/java/com/ryuqq/crawlinghub/domain/useragent/vo/UserAgentStatus.java
  domain/src/test/java/com/ryuqq/crawlinghub/domain/useragent/aggregate/UserAgentTest.java
  domain/src/testFixtures/java/com/ryuqq/cralwinghub/domain/fixture/useragent/UserAgentFixture.java
  integration-test/src/test/java/com/ryuqq/crawlinghub/integration/helper/TestDataHelper.java
  integration-test/src/test/java/com/ryuqq/crawlinghub/integration/webapi/UserAgentIntegrationTest.java
Due: none

fix: AI 리뷰 피드백 반영 (Gemini, CodeRabbit)
  adapter-out/persistence-mysql/src/main/java/com/ryuqq/crawlinghub/adapter/out/persistence/useragent/adapter/UserAgentQueryAdapter.java
  adapter-out/persistence-redis/src/main/java/com/ryuqq/crawlinghub/adapter/out/redis/adapter/UserAgentPoolCacheAdapter.java
  application/src/test/java/com/ryuqq/crawlinghub/application/useragent/service/command/UpdateUserAgentStatusServiceTest.java
  domain/src/main/java/com/ryuqq/crawlinghub/domain/useragent/vo/UserAgentStatus.java
  domain/src/testFixtures/java/com/ryuqq/cralwinghub/domain/fixture/useragent/UserAgentFixture.java
Due: none

feat: 세션 발급 시 DB 상태 동기화 및 태스크 타입 SEARCH로 변경
  application/src/main/java/com/ryuqq/crawlinghub/application/task/factory/command/CrawlTaskCommandFactory.java
  application/src/main/java/com/ryuqq/crawlinghub/application/useragent/scheduler/SessionDbStatusUpdater.java
  application/src/main/java/com/ryuqq/crawlinghub/application/useragent/scheduler/SessionIssuanceScheduler.java
  application/src/test/java/com/ryuqq/crawlinghub/application/task/factory/command/CrawlTaskCommandFactoryTest.java
  application/src/test/java/com/ryuqq/crawlinghub/application/useragent/scheduler/SessionDbStatusUpdaterTest.java
  application/src/test/java/com/ryuqq/crawlinghub/application/useragent/scheduler/SessionIssuanceSchedulerTest.java
Due: none

fix: AI 리뷰 피드백 반영 (Gemini, CodeRabbit)
  application/src/main/java/com/ryuqq/crawlinghub/application/task/factory/command/CrawlTaskCommandFactory.java
  application/src/main/java/com/ryuqq/crawlinghub/application/useragent/scheduler/SessionDbStatusUpdater.java
  application/src/main/java/com/ryuqq/crawlinghub/application/useragent/scheduler/SessionIssuanceScheduler.java
  application/src/test/java/com/ryuqq/crawlinghub/application/useragent/scheduler/SessionDbStatusUpdaterTest.java
Due: none

fix: 스케줄러 초기 트리거 시 올바른 Search API 엔드포인트 사용
  application/src/main/java/com/ryuqq/crawlinghub/application/task/factory/command/CrawlTaskCommandFactory.java
  domain/src/main/java/com/ryuqq/crawlinghub/domain/task/vo/CrawlEndpoint.java
  domain/src/test/java/com/ryuqq/crawlinghub/domain/task/vo/CrawlEndpointTest.java
Due: none

fix: Search API 400 에러 수정 - nid, mustitUid 쿠키 파싱 추가
  adapter-out/http-client/src/main/java/com/ryuqq/crawlinghub/adapter/out/http/adapter/WebClientSessionTokenAdapter.java
  adapter-out/http-client/src/test/java/com/ryuqq/crawlinghub/adapter/out/http/adapter/WebClientSessionTokenAdapterIntegrationTest.java
  adapter-out/persistence-redis/src/main/java/com/ryuqq/crawlinghub/adapter/out/redis/adapter/UserAgentPoolCacheAdapter.java
  adapter-out/persistence-redis/src/test/java/com/ryuqq/crawlinghub/adapter/out/redis/adapter/UserAgentPoolCacheAdapterTest.java
  application/src/main/java/com/ryuqq/crawlinghub/application/crawl/component/SearchCrawler.java
  application/src/main/java/com/ryuqq/crawlinghub/application/useragent/dto/session/SessionToken.java
  application/src/main/java/com/ryuqq/crawlinghub/application/useragent/listener/SessionRequiredEventListener.java
  application/src/main/java/com/ryuqq/crawlinghub/application/useragent/port/out/cache/UserAgentPoolCachePort.java
  application/src/main/java/com/ryuqq/crawlinghub/application/useragent/scheduler/SessionIssuanceScheduler.java
  application/src/test/java/com/ryuqq/crawlinghub/application/useragent/listener/SessionRequiredEventListenerTest.java
  application/src/test/java/com/ryuqq/crawlinghub/application/useragent/scheduler/SessionIssuanceSchedulerTest.java
  integration-test/src/test/java/com/ryuqq/crawlinghub/integration/helper/TestDataHelper.java
Due: none

feat: SQS 중복 처리 멱등성 개선 및 트랜잭션 롤백 디버깅 로그 추가
  application/src/main/java/com/ryuqq/crawlinghub/application/execution/facade/CrawlTaskExecutionFacade.java
  application/src/main/java/com/ryuqq/crawlinghub/application/execution/service/CrawlTaskExecutionService.java
  application/src/main/java/com/ryuqq/crawlinghub/application/task/component/CrawlTaskPersistenceValidator.java
  application/src/main/java/com/ryuqq/crawlinghub/application/task/service/command/CreateCrawlTaskService.java
  application/src/test/java/com/ryuqq/crawlinghub/application/execution/facade/CrawlTaskExecutionFacadeTest.java
  application/src/test/java/com/ryuqq/crawlinghub/application/execution/service/CrawlTaskExecutionServiceTest.java
Due: none

fix: SEARCH 태스크 mustItSellerName null 버그 수정
  domain/src/main/java/com/ryuqq/crawlinghub/domain/task/vo/CrawlEndpoint.java
Due: none

docs: README.md 추가 및 관련 문서 정리
  README.md
  adapter-out/persistence-mysql/src/main/java/com/ryuqq/crawlinghub/adapter/out/persistence/task/adapter/CrawlTaskQueryAdapter.java
  adapter-out/persistence-mysql/src/main/java/com/ryuqq/crawlinghub/adapter/out/persistence/task/repository/CrawlTaskQueryDslRepository.java
  application/src/main/java/com/ryuqq/crawlinghub/application/task/port/out/query/CrawlTaskQueryPort.java
  docs/design/observability-sdk-design.md
  docs/guide/log-streaming-setup-guide.md
  docs/guide/sentry-observability-guide.md
Due: none

Revert "docs: README.md 추가 및 관련 문서 정리"
  README.md
  adapter-out/persistence-mysql/src/main/java/com/ryuqq/crawlinghub/adapter/out/persistence/task/adapter/CrawlTaskQueryAdapter.java
  adapter-out/persistence-mysql/src/main/java/com/ryuqq/crawlinghub/adapter/out/persistence/task/repository/CrawlTaskQueryDslRepository.java
  application/src/main/java/com/ryuqq/crawlinghub/application/task/port/out/query/CrawlTaskQueryPort.java
  docs/design/observability-sdk-design.md
  docs/guide/log-streaming-setup-guide.md
  docs/guide/sentry-observability-guide.md
Due: none

fix: 중복 Task 검사 로직 개선 - schedulerId+taskType+endpoint 조합으로 변경
  adapter-out/persistence-mysql/src/main/java/com/ryuqq/crawlinghub/adapter/out/persistence/task/adapter/CrawlTaskQueryAdapter.java
  adapter-out/persistence-mysql/src/main/java/com/ryuqq/crawlinghub/adapter/out/persistence/task/repository/CrawlTaskQueryDslRepository.java
  adapter-out/persistence-mysql/src/test/java/com/ryuqq/crawlinghub/adapter/out/persistence/task/adapter/CrawlTaskQueryAdapterTest.java
  application/src/main/java/com/ryuqq/crawlinghub/application/task/component/CrawlTaskPersistenceValidator.java
  application/src/main/java/com/ryuqq/crawlinghub/application/task/facade/CrawlTaskFacade.java
  application/src/main/java/com/ryuqq/crawlinghub/application/task/port/out/query/CrawlTaskQueryPort.java
  application/src/test/java/com/ryuqq/crawlinghub/application/task/facade/CrawlTaskFacadeTest.java
  domain/src/main/java/com/ryuqq/crawlinghub/domain/task/aggregate/CrawlTaskOutbox.java
Due: none

fix: SQS 이벤트 페이로드에 taskId 포함되도록 수정
  application/src/main/java/com/ryuqq/crawlinghub/application/task/dto/bundle/CrawlTaskBundle.java
Due: none

docs: Observability 가이드 문서 추가
  docs/coding_convention/06-observability/log-streaming-setup-guide.md
  docs/coding_convention/06-observability/sentry-observability-guide.md
Due: none

Path conditions:
  crawlinghub-ecr-prod: any of: terraform/ecr/*.tf, terraform/ecr/*.tfvars, terraform/*.tf
  crawlinghub-ecs-cluster-prod: any of: terraform/ecs-cluster/*.tf, terraform/ecs-cluster/*.tfvars, terraform/*.tf
  crawlinghub-elasticache-prod: any of: terraform/elasticache/*.tf, terraform/elasticache/*.tfvars, terraform/*.tf
  crawlinghub-ecs-web-api-prod: any of: terraform/ecs-web-api/*.tf, terraform/ecs-web-api/*.tfvars, terraform/*.tf
  crawlinghub-ecs-scheduler-prod: any of: terraform/ecs-scheduler/*.tf, terraform/ecs-scheduler/*.tfvars, terraform/*.tf
  crawlinghub-ecs-crawl-worker-prod: any of: terraform/ecs-crawl-worker/*.tf, terraform/ecs-crawl-worker/*.tfvars, terraform/*.tf
  crawlinghub-eventbridge-prod: any of: terraform/eventbridge/*.tf, terraform/eventbridge/*.tfvars, terraform/*.tf
  crawlinghub-sqs-prod: any of: terraform/sqs/*.tf, terraform/sqs/*.tfvars, terraform/*.tf
