Repository ryu-qqq/CrawlingHub: changes, and which Atlantis projects are due for each by the changed paths.
All: crawlinghub-ecr-prod, crawlinghub-ecs-cluster-prod, crawlinghub-elasticache-prod, crawlinghub-ecs-web-api-prod, crawlinghub-ecs-scheduler-prod, crawlinghub-eventbridge-prod

crawlinghub-ecr-prod:
  dir: terraform/ecr
  workspace: default
  apply_requirements:
  - approved
  - mergeable

crawlinghub-ecs-cluster-prod:
  dir: terraform/ecs-cluster
  workspace: default
  apply_requirements:
  - approved
  - mergeable

crawlinghub-elasticache-prod:
  dir: terraform/elasticache
  workspace: default
  apply_requirements:
  - approved
  - mergeable

crawlinghub-ecs-web-api-prod:
  dir: terraform/ecs-web-api
  workspace: default
  apply_requirements:
  - approved
  - mergeable

crawlinghub-ecs-scheduler-prod:
  dir: terraform/ecs-scheduler
  workspace: default
  apply_requirements:
  - approved
  - mergeable

crawlinghub-eventbridge-prod:
  dir: terraform/eventbridge
  workspace: default
  apply_requirements:
  - approved
  - mergeable

fix: atlantis.yaml에서 workflow 키 제거
  atlantis.yaml
  docs/DB_ACCESS_GUIDE.md
Due: none

fix: atlantis.yaml에서 apply_requirements 키 제거
  atlantis.yaml
Due: none

fix: EventBridge 프로젝트 임시 비활성화 (ECS 배포 후 활성화)
  atlantis.yaml
Due: none

fix: Terraform module refs 수정 및 lock files 추가
  terraform/ecr/main.tf
  terraform/ecr/outputs.tf
  terraform/ecs-cluster/main.tf
  terraform/ecs-scheduler/.terraform.lock.hcl
  terraform/ecs-scheduler/main.tf
  terraform/ecs-scheduler/outputs.tf
  terraform/ecs-web-api/.terraform.lock.hcl
  terraform/ecs-web-api/main.tf
  terraform/ecs-web-api/outputs.tf
  terraform/elasticache/main.tf
  terraform/provider.tf
  terraform/shared-acm.tf
  terraform/shared-rds.tf
  terraform/shared-route53.tf
  terraform/shared-vpc.tf
  terraform/variables.tf
Due: crawlinghub-ecr-prod, crawlinghub-ecs-cluster-prod, crawlinghub-elasticache-prod, crawlinghub-ecs-web-api-prod, crawlinghub-ecs-scheduler-prod, crawlinghub-eventbridge-prod

fix: ECR, ElastiCache module refs를 main으로 변경
  terraform/ecr/main.tf
  terraform/elasticache/main.tf
Due: crawlinghub-ecr-prod, crawlinghub-elasticache-prod

fix: Terraform 모듈을 직접 AWS 리소스로 변경
  .gitignore
  terraform/ecr/main.tf
  terraform/ecr/outputs.tf
  terraform/ecr/provider.tf
  terraform/ecs-cluster/provider.tf
  terraform/ecs-web-api/main.tf
  terraform/elasticache/main.tf
  terraform/elasticache/provider.tf
Due: crawlinghub-ecr-prod, crawlinghub-ecs-cluster-prod, crawlinghub-elasticache-prod, crawlinghub-ecs-web-api-prod

fix: terraform lock 파일 삭제 (Atlantis 캐시 문제 해결)
  terraform/ecs-scheduler/.terraform.lock.hcl
  terraform/ecs-web-api/.terraform.lock.hcl
Due: none

fix: ecs-web-api outputs.tf 직접 리소스 참조로 변경
  terraform/ecs-web-api/outputs.tf
Due: crawlinghub-ecs-web-api-prod

feat: Add ADOT sidecar to ECS task definitions via Terraform
  terraform/ecs-scheduler/main.tf
  terraform/ecs-web-api/main.tf
Due: crawlinghub-ecs-web-api-prod, crawlinghub-ecs-scheduler-prod

feat: Apply Infrastructure modules for Phase 1 (CloudWatch & ECR)
  terraform/ecr/main.tf
  terraform/ecr/outputs.tf
  terraform/ecs-scheduler/main.tf
  terraform/ecs-web-api/main.tf
Due: crawlinghub-ecr-prod, crawlinghub-ecs-web-api-prod, crawlinghub-ecs-scheduler-prod

fix: Set kms_key_arn to null explicitly for ECR modules
  terraform/ecr/main.tf
Due: crawlinghub-ecr-prod

fix: Update log group names to follow naming convention
  terraform/ecs-scheduler/main.tf
  terraform/ecs-scheduler/outputs.tf
  terraform/ecs-web-api/main.tf
Due: crawlinghub-ecs-web-api-prod, crawlinghub-ecs-scheduler-prod

fix: Disable parallel plan to prevent text file busy error
  atlantis.yaml
Due: none

Path conditions:
  crawlinghub-ecr-prod: any of: terraform/ecr/*.tf, terraform/ecr/*.tfvars, terraform/*.tf
  crawlinghub-ecs-cluster-prod: any of: terraform/ecs-cluster/*.tf, terraform/ecs-cluster/*.tfvars, terraform/*.tf
  crawlinghub-elasticache-prod: any of: terraform/elasticache/*.tf, terraform/elasticache/*.tfvars, terraform/*.tf
  crawlinghub-ecs-web-api-prod: any of: terraform/ecs-web-api/*.tf, terraform/ecs-web-api/*.tfvars, terraform/*.tf
  crawlinghub-ecs-scheduler-prod: any of: terraform/ecs-scheduler/*.tf, terraform/ecs-scheduler/*.tfvars, terraform/*.tf
  crawlinghub-eventbridge-prod: any of: terraform/eventbridge/*.tf, terraform/eventbridge/*.tfvars, terraform/*.tf
